* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.router-wrapper{
  background-color: rgb(227, 234, 255);
}


@media(min-width: 0px) and (max-width: 640px){

  .carousel-wrapper{
    align-items: center;
    padding-bottom: 5vw;
  }

  .HomeGallery{
    display: none;
  }

  .gallery-wrapper{
    display:none;
  }
  
}


/*tablet sized*/
@media(min-width: 641px) and (max-width: 1007px){
  .carousel-wrapper{
    display: none;
  }

  .HomeGallery{
    display:relative;

  }

  .gal-pic{
    height: 15rem;
    width: 8rem;
  }

}


/*desktop*/
@media(min-width: 1008px){
    .carousel-wrapper{
    display: none;
  }
  
  .HomeGallery{
    opacity: 1;
    margin-top: 100vh;
    display:relative;
  }

}
